#loader,#ajaxLoader{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: #000;
    opacity: .5;
}
#loader p,#ajaxLoader p{
    margin: 20% 50%;
}
/*calculator*/
#calculator-wrapper {
  font-size: 42px;
}
.panel-primary>.panel-heading {
    color: #333333;
    background-image: linear-gradient(#F0F0F0, #F1F1F1 85%, #CFCFCF);
    border-color: #CFCFCF;
}
.panel-primary .panel-heading span.tools {
    padding: 0;
    float: right;
    margin: 0;
}
.panel-primary {
    border-color: #d9d9d9;
}
.panel-body{
 background-color:#fafafa;
}
#calculator-wrapper .uneditable-input {
    height: 60px;
    font-size: 22px;
    line-height: 54px;
    width: 100%;
    background-color: #F5F5F5;
    border: 2px solid #D4D4D4;
    border-radius: 3px;
    margin-bottom: 12px;
}
.cover{
    overflow: hidden;
}
.btn_cal {
  margin: 0 5px 5px 0;
  line-height: 50px;
  font-weight: bold;
  font-size: 25px;
  /*width: 26%;*/
}
#calc-board .col-xs-4{
    padding: 0;
}
.wi{
    width: 31.333333%;
}
.kill-padding-rl{
    padding-left: 0;
    padding-right: 0;
}
.kill-padding-r{
    padding-right: 0;
}
.kill-padding-l{
    padding-left: 0;
}
.kill-padding{
    padding: 0;
}
.controls {
    padding: 10px;
}
.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar .file-input {
    display: table-cell;
    max-width: 197px;
}
form .form-actions {
    background-color: #EFEFEF;
    /*margin: 15px -15px -15px;*/
    padding: 15px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.list-img{
    width: 80px;
    height: 80px;
    border-radius: 48px;
    border: 3px solid #fff;
}
.avatar{
    width: 85px;
    height: 85px;
    border-radius: 50px;
    border: 3px solid #AFCE2B;
}
.info-line{
    margin: 10px 0px;
    border: 1px solid #d4d4d4;
    padding: 5px;
    border-radius: 46px 4px 4px 46px;
    background-color: aliceblue;
}
.info-line div{
    display: inline-block;
}
.info-line .title{
    font-size: 14px;
    font-variant: small-caps;
    font-weight: 600;
    margin-left: 8px;
    position: relative;
}
.info-line .course-title{
    margin-left: 5px;
    font-size: 14px;
    font-color: #fff;
    color: #DE2F2F;
    font-weight: 700;
}
.info-line .phone{
    position: absolute;
    bottom: 18px;
    left: 117px;
    font-size: 14px;
    color: #8A8B87;
    font-weight: bold;
}
.info-line .actions{
    float: right;
    margin-right: 34px;
}
.info-line .shift{
    position: absolute;
    color: #fff;
    padding: 5px;
    top: -5px;
    left: 158px;
    font-size: 16px;
}
.info-line .reg_no{
   position: absolute;
   right: 54px;
   top: 74px;
   font-size: 12px;
   font-weight: 700;
   color: #B3B3B3;
}
.saparate{
    background-color: #3089C3;
    font-family: HelveticaNeueLight,Arial,Helvetica,sans-serif;
    font-size: 18px;
    padding: 11px 10px;
    position: relative;
    color: #fff;
    margin-bottom: 11px;
    border-radius: 50px;
}
td .saparate{
    margin: 0;
    border-radius: 0;
}
.borderize{
    border: 1px solid gray;
    padding: 4px 12px;
}
.xxs{
   padding: 2px 3px 5px 5px;
}
.panel-xx{
    padding:3px;
}
.name{
    font-weight: bold;
}
.datepicker {
    z-index: 100000;
}
.panel-heading{
    font-weight: 700;
    font-size: 16px;
}
.panel-heading small{
    font-size: 12px;
}
.group-table{
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: 1px solid #A4BF2F;
}
.group-table .group-heading{
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    padding: 10px;
    background: #A4BF2F;
}
.group-table .group-body{
    padding: 5px;
}
.group-table .group-body .dataTables_filter{
    display: none;
}
/*.sub-nav {
    background-image: linear-gradient(#A2BE2E, #91A539 85%, #809428);
}
#cssmenu > ul > li.active {
    background: #94AA37;
}
#cssmenu ul ul li {
    background: #A2BE2E;}
   #cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {
    background: #94AA37;
    }*/
    .alertify {
        border: 10px solid #e6e6e6;
    }
    .hide-block{
        display: none;
    }
    .panel-heading.xxs{
        font-weight: 600;
        font-size: 14px;
    }
    .xs-saparate {
        background-color: #3089C3;
        font-family: HelveticaNeueLight,Arial,Helvetica,sans-serif;
        font-size: 13px;
        padding: 6px 10px;
        position: relative;
        color: #fff;
    }
    .xxs-form-control {
        display: block;
        width: 100%;
        height: 24px;
        padding: 2px 5px; 
        font-size: 13px; 
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 2px; 
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); 
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    .form-control {
        width: 100%;
        height: 30px;
        padding: 3px 9px;
        line-height: 1.4;
        border-radius: 0px;
    }
    label {
        margin-bottom: 5px;
        font-weight: 500;
        text-align: left;
    }
    .table-action{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .panel-tool{
        margin: 10px 0;
    }
    .num{
        text-align: right;
    }
    .td-hide{
        border: none !important;
        border-bottom: 1px solid #FAFAFA !important;
        border-left: 1px solid #FAFAFA !important;
    }
    .table>tbody>tr.gray>td, .table>tbody>tr.gray>th, .table>tbody>tr>td.gray, .table>tbody>tr>th.gray, .table>tfoot>tr.gray>td, .table>tfoot>tr.gray>th, .table>tfoot>tr>td.gray, .table>tfoot>tr>th.gray, .table>thead>tr.gray>td, .table>thead>tr.gray>th, .table>thead>tr>td.gray, .table>thead>tr>th.gray {
        background-color: #EAECE9;
    }
    .bold{
        font-weight: bold;
    }
    .td-gray{
        background-color: #F1F1F1;
    }
    .td-success{
        background-color: #E2FFD0;
    }
    .td-info{
        background-color: #D0DCFF;
    }
    .td-warning{
        background-color: #FFF793;
    }
    .td-imp{
        background-color: gray;
        color: #fff;
    }
    .stampt{
        position: absolute;
        padding: 15px 22px;
        bottom: 0px;
    }
    .stampt h1{
        font-weight: 700;
        border: 3px dashed #74B749;
        color: #008000;
        padding: 8px 20px;
        margin: 0;
    }
    .k-grid-header{
        padding-right: 0 !important;
    }
    .no-data{
        padding: 10px;
        background: #B5B3B0;
        font-weight: bold;
        color: azure;
        text-align: center;
    }
    #last_row{
        background-color: #E6E6E6;
    }
    #last_row td.actions{
        padding: 10px 0px 0 5px;
        color: gray;
        font-weight: 600;
    }
    .x-form-field-trigger-wrap #search{
        height: 30px; width: 270px !important;
    }
    #ext-gen3{
        width: 364px;
        float: right;
    }
  /*  .detail .k-grid-header,.detail .k-grid-header-wrap{
        background-color: #2F89C2;
        color: #fff;
    }
    .k-detail-row{
        background: #328DC8;
    }*/
    #cssmenu > ul > li > a {
        font-size: 11px;
        color: #8D8E8B;
        font-weight: 800;
    }
    #cssmenu > ul > li a i {
        color: #6d880e;
        font-size: 30px;
    }
    #payment_months li .info-label{
        position: absolute;
        top: 8px;
        right: 4px;
        color: white;
        font-size: 10px;
        text-align: center;
        line-height: 16px;
        width: 16px;
        height: 16px;
    }
.modal-header {
    background: #6d880e;
    color: #fff;
}
.modal-footer {
    background: #F1F1F1;
    color: #DDD;
}
td.avg{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: cornflowerblue;
}
td.per{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #CC5720;
}
td.status{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: green;
}
/*.k-hierarchy-cell{
    background: #6d880e;
}
.k-hierarchy-cell a{
    background: #F1F1F1 !important;
}*/
.x-form-field-wrap .form-control{
    height: 35px;
    padding: 6px 11px;
    line-height: 1.6;
    border-radius: 0px;
}
  #grid > .k-grid-header {
    padding-right: 0px !important;
  }
  #grid > .k-grid-content {
    height: auto !important;
  }
  #grid > .k-grouping-header {
    display: none;
  }
  #userSearch {
    width: 270px !important;
  }
  #searchclear {
    min-height: 34px;
    padding-top: 2px;
  }
  #grid .k-grid-content table tbody tr td{
    cursor:pointer;
  }
  .k-pager-wrap .k-icon{
    /*margin-top: 6px;*/
  }
  .control-label > span{
    color: red;
  }
  .text-blood{
    color:#FF0500;
  }
  .btn-success{
    background-color: #4A5D09;
    border-color: #6d880e;
  }